<div class="row">
  <div class="col col-md-8 col-lg-8 mx-auto">
    <h1><%= @flat["name"] %></h1>
    <h2>💰 <%= @flat["price"] %> <%= @flat["priceCurrency"] %></h2>
    <img src="<%= @flat["imageUrl"] %>" alt="<%= @flat["name"] %>", class="img-fluid" />
    <p><%= link_to "back", root_path %></p>
  </div>
</div>
